// Variables

$grn-white: #e7f8f2;
$toggle-color: #4f4949;
$h1-color: #4f4949;

$font-Raleway: 'Raleway', sans-serif;

$background: #f26560;

$home: #ADD3C4;
$about: #8DC1B2;
$portfolio: #7BB5A4;
$contact: #70AA99;
