// Mixins

@mixin zero{
  margin: 0;
  padding: 0;
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
//landing page
// Hide text in an element
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block; // inline elements with this won't hide text unless set to block
}

//landing page 
@mixin img{
    
    .img-greetings{
        max-width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        display: block;
    }
    .img-hover{
        display: none;
    }
    &:hover{
        .img-greetings{
            display: none;
        }

        .img-hover{
            max-width: 100%;
            text-align: center;
            vertical-align: bottom;
            margin: auto;
            display: block;
        }
    }
}


//nav has been toggled out
@mixin show-text{
  text-indent: 0;
  white-space: normal;
  overflow: visible;
}


//on the navigation
@mixin home($grn-white, $home){
    a{
        color: $grn-white;
    }
    background-color: $home;
    &:hover{
        a{
            color: $home;
        }
        background-color: $grn-white;
    }
}

@mixin about($grn-white, $about){
    a{
        color: $grn-white;
    }
    background-color: $about;
    &:hover{
        a{
            color: $about;
        }
        background-color: $grn-white;
    }
}

@mixin portfolio($grn-white, $portfolio){
    a{
        color: $grn-white;
    }
    background-color: $portfolio;
    &:hover{
        a{
            color: $portfolio;
        }
        background-color: $grn-white;
    }
}

@mixin contact($grn-white, $contact){
    a{
        color: $grn-white;
    }
    background-color: $contact;
    &:hover{
        a{
            color: $contact;
        }
        background-color: $grn-white;
    }
}